.jumbotron{
  background-image: url("twall.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  font-size: 25px;
  font-family:sans-serif;
  width:auto;
  height: auto
}


.nav-pills a{
  color:black;
  font-weight: 900;
  width: 150px;
}

.nav-pills{
  margin: 0 auto;
  padding: 0px;
  width: 800px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color:black;
    background-color:skyblue;
    }

#page{
background-color:white;
margin: 0px 45px 0px 45px;
}

#background{
  background-image: url("brick.jpg");
}

h1{
    color:black;
    font-family:sans-serif;
    font-weight:900;
    text-decoration: underline;
}

#home{
  font-size: 16px;
  padding-left: 10em;
  padding-right: 10em;
  padding-top: 2em;
  color: black;
}

#portfolio{
  font-size: 16px;
  padding-left: 10em;
  padding-right: 10em;
  padding-top: 2em;
  color: black;
}

#resume{
  font-size: 16px;
  padding-left: 10em;
  padding-right: 10em;
  padding-top: 2em;
  color: black;
}

#about{
  font-size: 16px;
  padding-left: 10em;
  padding-right: 10em;
  padding-top: 2em;
  text-align: center;
  color: black;
}

#contact{
  font-size: 16px;
  padding-left: 10em;
  padding-right: 10em;
  padding-top: 2em;
  color: black;
}

#foot{
  display:block;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 900;
  color:black;
  padding-left: 10px;
}

input{
  color: black;
}

th{
  font-weight: 900;
  text-decoration: underline;
}

fieldset{
  width: 350px;
}
