.jumbotron{
  background-color: transparent;
  color: white;
  font-size: 25px;
  font-family:sans-serif;
  width:inherit;
  height: inherit;
}


.nav-pills a{
  color:white;
  font-weight: 900;
  width: 100px;
}

.nav-pills{
  margin: 0 auto;
  padding: 0px;
  width: 500px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color:black;
    background-color:skyblue;
    }

#page{
background-color:#010070;
margin: 0px 50px 0px 50px;
}

#background{
  background-image: url("background.jpg");
}

h1{
    color:white;
    font-family:sans-serif;
    font-weight:900;
    text-decoration: underline;
}

#home{
  font-size: 16px;
  padding-left: 10em;
  padding-right: 10em;
  padding-top: 2em;
  color: white;
  font-weight: 900;
}

#portfolio{
  font-size: 16px;
  padding-left: 10em;
  padding-right: 10em;
  padding-top: 2em;
  color: white;
  font-weight: 900;
}

#resume{
  font-size: 16px;
  padding-left: 10em;
  padding-right: 10em;
  padding-top: 2em;
  color: white;
  font-weight: 900;
}

#about{
  font-size: 16px;
  padding-left: 10em;
  padding-right: 10em;
  padding-top: 2em;
  text-align: center;
  color: white;
  font-weight: 900;
}

#contact{
  font-size: 16px;
  padding-left: 10em;
  padding-right: 10em;
  padding-top: 2em;
  font-weight: 900;
  color: white;
}

#foot{
  display:block;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 900;
  color:white;
  padding-left: 10px;
}

input{
  color: black;
}

th{
  font-weight: 900;
}
